.password {
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.modalIcon {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  width: 700px;
  height: 22px;
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
  padding-top: 10px;
  color: white;
  font-size: 35px;
  text-shadow: 1px 1px 2px #474747;
  cursor: pointer;
  .modalIcon_icon:hover,
  .modalIcon_icon:focus {
    color: #2352a2;
    text-decoration: none;
    cursor: pointer;
  }
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  .modal_content {
    position: relative;
    background-color: #fefefe;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    border: 1px solid #888;
    border-radius: 0px 0px 10px 10px;
    width: 700px;
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.2);
    animation-name: moveTop;
    animation-duration: 0.4s;
    .modal_header {
      padding: 10px 20px;
      text-align: center;
      font-family: "Black Han Sans", sans-serif;
      font-size: 30px;
      color: #132b53;
      .modal_close {
        color: #aaa;
        float: right;
        font-size: 40px;
      }
      .modal_close:hover,
      .modal_close:focus {
        color: #2352a2;
        text-decoration: none;
        cursor: pointer;
      }
    }
    .modal_body {
      padding: 10px 20px 15px;
      display: flex;
      justify-content: space-around;
      font-family: "Nanum Gothic Coding", monospace;
      font-size: 18px;
      font-weight: bold;
      color: #2352a2;
      .modal_body_userInfo {
        cursor: pointer;
      }
      .modal_body_important {
        cursor: pointer;
      }
      .modal_body_userInfo:hover,
      .modal_body_userInfo:focus {
        color: #132b53;
      }
      .modal_body_important:hover,
      .modal_body_important:focus {
        color: #132b53;
      }
    }
  }
  @keyframes moveTop {
    from {
      top: -60px;
      opacity: 0;
    }
    to {
      top: 0;
      opacity: 1;
    }
  }
}
.main {
  box-sizing: border-box;
  border: 1px solid #888;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 700px;
  // height: 450px;
  position: relative;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  background-color: #667fee;
  box-shadow: 7px 7px 25px rgb(128, 128, 128);
  color: #132b53;
  .main_title {
    background-color: white;
    border-radius: 8px 8px 0px 0px;
    padding: 20px;
    text-align: center;
    font-family: "Black Han Sans", sans-serif;
    font-size: 45px;
    text-shadow: 1px 1px 2px #474747;
  }
  .main_input {
    display: flex;
    justify-content: space-between;
    background-color: #132b53;
    height: 40px;
    color: #132b53;
    .main_inputTodo {
      width: 85%;
      font-size: 20px;
      border: 1px solid #888;
    }
    .main_inputBtn {
      width: 15%;
      font-size: 20px;
      font-weight: bold;
      cursor: pointer;
      background-color: white;
      border: 1px solid #888;
      color: #132b53;
      text-align: center;
      letter-spacing: 3px;
    }
  }
  .main_todolist {
  }
  .main_logout {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    .main_logoutBtn {
      cursor: pointer;
      background-color: white;
      border-radius: 5px;
      width: 100px;
      height: 30px;
      font-family: "Nanum Gothic Coding", monospace;
      color: #132b53;
      font-weight: bold;
      font-size: 15px;
    }
  }
}
