.myPage {
  box-sizing: border-box;
  border: 1px solid #888;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 450px;
  position: relative;
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  background-color: #667fee;
  box-shadow: 7px 7px 25px rgb(128, 128, 128);
  color: #132b53;
  .myPage_title {
    background-color: white;
    border-radius: 8px 8px 0px 0px;
    padding: 20px;
    text-align: center;
    font-family: "Black Han Sans", sans-serif;
    font-size: 45px;
    text-shadow: 1px 1px 2px #474747;
  }
  .myPage_info {
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 220px;
    height: 260px;
    font-family: "Nanum Gothic Coding", monospace;
    font-size: 20px;
    font-weight: bold;
    color: #d9f6ff;
    text-shadow: 1px 1px 2px #474747;
    .myPage_text {
      color: #132b53;
      font-weight: normal;
    }
    .myPage_editBtn {
      cursor: pointer;
      width: 45px;
      height: 25px;
      margin-top: 4px;
      cursor: pointer;
      border: 1px solid #888;
      font-family: "Nanum Gothic Coding", monospace;
      color: #132b53;
      font-size: 12px;
      font-weight: bold;
    }
    .myPage_email {
      display: flex;
      justify-content: space-between;
    }
    .myPage_password {
      display: flex;
      justify-content: space-between;
      margin-top: 5px;
    }
    .myPage_name {
      display: flex;
      justify-content: space-between;
      margin-top: 5px;
    }
    .myPage_mobile {
      display: flex;
      justify-content: space-between;
      margin-top: 5px;
    }
    .inputMyPage {
      width: 212px;
      height: 20px;
      border-radius: 5px;
      font-size: 15px;
      font-family: "Nanum Gothic Coding", monospace;
    }
  }
  .myPage_btns {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Nanum Gothic Coding", monospace;
    color: #132b53;
    .myPage_goBackBtn {
      margin-left: 5px;
      cursor: pointer;
      border: 1px solid #888;
      width: 100px;
      height: 30px;
      font-weight: bold;
      font-size: 15px;
    }
    .myPage_logoutBtn {
      margin-left: 5px;
      cursor: pointer;
      border: 1px solid #888;
      width: 100px;
      height: 30px;
      font-weight: bold;
      font-size: 15px;
    }
    .myPage_deleteUser {
      text-align: center;
      margin-top: 8px;
      .myPage_deleteUserBtn {
        cursor: pointer;
        font-size: 13px;
        // font-weight: bold;
        color: #d9f6ff;
      }
    }
  }
}
