.password_content {
  box-sizing: border-box;
  position: relative;
  top: 160px;
  background-color: #fefefe;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 0px 0px 0px 0px;
  width: 700px;
  height: 250px;
  box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.2);
  .password_header {
    padding: 15px 0px 10px 0px;
    text-align: center;
    font-family: "Black Han Sans", sans-serif;
    font-size: 30px;
    color: #132b53;
    .password_close {
      color: #aaa;
      float: right;
      font-size: 40px;
      position: absolute;
      top: 27px;
      right: 20px;
    }
    .password_close:hover,
    .password_close:focus {
      color: #2352a2;
      text-decoration: none;
      cursor: pointer;
    }
  }
  .password_body {
    display: flex;
    justify-content: center;
    margin: 25px auto 0px auto;
    .password_input {
      width: 300px;
      font-family: "Nanum Gothic Coding", monospace;
      font-size: 18px;
      color: #2352a2;
    }
    .password_btn {
      cursor: pointer;
      border: 1px solid #888;
      width: 100px;
      height: 32px;
      font-family: "Nanum Gothic Coding", monospace;
      color: #132b53;
      font-weight: bold;
      font-size: 15px;
      letter-spacing: 3px;
    }
  }
}
