.todolist {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Nanum Gothic Coding", monospace;
  color: #d9f6ff;
  font-size: 18px;
  font-weight: bold;
  text-shadow: 1px 1px 2px #474747;
  padding: 7px 20px;
  .todolist_content {
    // flex-grow: 9;
    width: 90%;
  }
  .deleteIcon {
    // flex-grow: 1;
    width: 10%;
    color: #132b53;
    font-size: 25px;
    cursor: pointer;
  }
}
